<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>Gerenciador de Tarefas - Listagem</title>
</head>
<body>

		<div th:replace="fragmentos/fragmentos :: cabecalho">
		</div>
		
		<div class="container">
				
				<h3>Listagem de Tarefas</h3>
						<div class="container" style="margin: 0 auto; text-align: center;" >
							<a class="btn btn-success w-50" href="/tarefas/inserir">INSERIR +TAREFAS</a>
						</div>
				<div th:each="tarefa : ${tarefas}" style="margin: 10px;">
					<div class="card bg-light mb-3">
						<div class="card-header" th:text="${tarefa.titulo}">
						</div>
						<div class="card-body">
								<p class="card-text" th:text="${tarefa.descricao}"></p>
								<p class="card-text" th:text="${'Data de Expiração: ' + 
								#dates.format(tarefa.dataExpiracao, 'dd/MM/yyyy')}"></p>						
							<p class="card-text" style="color: green;" th:if="${tarefa.dataExpiracao.after(new java.util.Date())}"
							>Tarefa Em Dia</p>
							
							<p class="card-text" style="color: red;" th:if="${tarefa.dataExpiracao.before(new java.util.Date())}"
							>Tarefa Atrasada</p>
						</div>
						<div class="card-footer bg-dark">
							<p>
								<a style="color: #fff;" 
								th:href="@{/tarefas/alterar/{id}(id=${tarefa.id})}">Alterar</a> | 
								<a style="color: #fff;" 
								th:href="@{/tarefas/excluir/{id}(id=${tarefa.id})}">Excluir</a> | 
								<a th:if="${!tarefa.situacao}" style="color: #fff;" 
								th:href="@{/tarefas/concluir/{id}(id=${tarefa.id})}">Concluir Tarefa</a>
							</p>
						</div>
					</div>
				</div>
		</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>	
</body>
</html>